# ignore everything except for the required files to run, stops any erroneous config / output files
# being bundled in the built image
!/configurations
!/tests/.pytest_cache
!/tests/__pycache__
!/.pytest_cache

